/** @format */

* {
  box-sizing: border-box;
}

.total-sales-container {
  background-color: #b5d5e1a7;
  width: 30%;
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  border-radius: 10px;
  cursor: pointer;
  transition: 0.2s;
}
.total-sales-container:hover {
  background-color: #b5d5e1;
  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.75);
  transform: scale(1.05);
  transition: 0.2s;
}

.ts-top {
  position: relative;
  display: flex;
  flex-direction: row;
}

.ts-tag {
  background-color: #fff;
  padding: 8px 10px;
  border-radius: 8px;
}

.ts-tag-icon {
  font-size: 20px;
}

.total-sales {
  position: absolute;
  left: 34%;
  top: 33%;
  font-size: 12px;
  font-weight: 600;
  letter-spacing: 0.5px;
}

.ts-bottom {
  display: flex;
  margin-top: 15px;
  flex-direction: row;
  justify-content: space-between;
}

.ts-amount {
  font-size: 25px;
  margin-bottom: 0;
  font-weight: 600;
}

.ts-arrow-icon {
  font-size: 23px;
}
